---
import { Picture } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Github from '../components/icons/Github.astro'
import LinkedIn from '../components/icons/LinkedIn.astro'
import Mail from '../components/icons/Mail.astro'
import Avatar from '../assets/img.jpeg'
import technologies from '../data/technologies.json'
import projects from '../data/projects.json'

const featuredProjects = projects.filter(project => project.featured)
---

<Layout title="Portafolio de Dionicio Vargas - Desarrollador Web">
  <main class="max-w-4xl w-11/12 mx-auto">
    <header class="flex flex-col md:flex-row mt-12 items-center justify-between">
      <div class="w-full space-y-4">
        <h1 class="text-5xl font-bold">
          춰Hola!游녦 Soy <span class="text-blue-400">Dionicio Vargas</span>
        </h1>
        <p class="text-xl md:text-2xl text-gray-400">Desarrollador Web Full Stack</p>
        <nav aria-label="Enlaces a redes sociales" class="flex space-x-4 items-center">
          <a
            href="https://github.com/theblaze98"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="GitHub de Dionicio Vargas"
          >
            <Github />
          </a>
          <a
            href="https://www.linkedin.com/in/dionicio-vargas-832821237/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn de Dionicio Vargas"
          >
            <LinkedIn />
          </a>
          <a
            href="mailto:dioniciovargas1226@gmail.com"
            aria-label="Enviar un correo a Dionicio Vargas"
          >
            <Mail />
          </a>
        </nav>
      </div>
      <div class="mt-8 md:mt-0">
        <Picture
          src={Avatar}
          alt="Foto de Dionicio Vargas, Desarrollador Web"
          width={360}
          height={360}
          class="rounded-full border-4 border-blue-400"
          formats={['avif', 'webp']}
        />
      </div>
    </header>

    <section class="mt-16" aria-labelledby="sobre-mi prose prose-invert">
      <h2 id="sobre-mi" class="text-3xl font-bold mb-4">Sobre M칤</h2>
      <article class="p-6">
        <div class="flex flex-col md:flex-row gap-6">
          <div class="flex-1 space-y-4">
            <div class="flex items-center space-x-2 ">
              <Icon
                name="mdi:user"
                class="w-9 h-9 md:w-12 md:h-12 mr-3 block text-blue-400"
              />
              <p class="md:prose-lg">Apasionado desarrollador web especializado en frontend y backend.</p>
            </div>
            <div class="flex items-center space-x-2">
              <Icon
                name="mdi:briefcase"
                class="w-9 h-9 md:w-12 md:h-12 mr-3 block text-blue-400"
              />
              <p class="md:prose-lg">M치s de 1 a침o de experiencia en desarrollo de aplicaciones web escalables y responsivas.</p>
            </div>
          </div>
          <div class="flex-1 space-y-4">
            <p class="md:prose-lg">
              Me especializo en crear soluciones web innovadoras y eficientes,
              con un enfoque en usabilidad, rendimiento y mejores pr치cticas de desarrollo.
            </p>
          </div>
        </div>
      </article>
    </section>

    <section class="mt-16" aria-labelledby="tecnologias">
      <h2 id="tecnologias" class="text-3xl font-bold mb-4">Tecnolog칤as</h2>
      <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 gap-4">
        {technologies.map(tech => (
          <div
            class="bg-gradient-to-br from-gray-800 to-gray-900 rounded-lg px-2 py-3 text-center flex flex-col items-center justify-center shadow-lg hover:shadow-xl transition-all duration-300 hover:from-gray-700 hover:to-gray-800"
            aria-label={tech.name}
          >
            <Icon
              name={tech.icon}
              class="text-3xl"
            />
            <span>{tech.name}</span>
          </div>
        ))}
      </div>
    </section>

    <section class="mt-16" aria-labelledby="proyectos-destacados">
      <h2 id="proyectos-destacados" class="text-3xl font-bold mb-4">Proyectos Destacados</h2>
      <div class="grid md:grid-cols-2 gap-8">
        {featuredProjects.map(project => (
          <ProjectCard
						name={project.name}
						description={project.description}
						technologies={project.technologies}
						demo_url={project.demo_url}
						github_url={project.github_url}
            class="prose prose-invert" />
        ))}
        <div
          class="bg-gradient-to-br from-gray-800 to-gray-900 rounded-lg p-6 shadow-lg hover:shadow-xl transition-all duration-300 hover:from-gray-700 hover:to-gray-800 flex items-center justify-center"
          aria-labelledby="ver-mas"
        >
          <a
            href="/projects"
            class="text-2xl transition-colors hover:text-blue-400 no-underline"
            aria-label="Ver m치s proyectos"
          >
            Ver M치s...
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
