---
import { Icon } from 'astro-icon/components'
import Layout from '../layouts/Layout.astro'
import projects from '../data/projects.json'
---

<Layout title='Proyectos de Dionicio Vargas - Portafolio'>
	<header class='p-4'>
		<nav class='flex justify-between items-center'>
			<a
				href='/'
				class='text-xl hover:text-blue-400 transition-colors flex gap-2 items-center'
				aria-label='Volver al Inicio'>
				<Icon
					name='mdi:arrow-left-circle'
					class='w-8 h-8'
				/>
				<span>Volver al Inicio</span>
			</a>
			<h1 class='text-2xl font-bold'>Mis Proyectos</h1>
		</nav>
	</header>
	<main class='container mx-auto px-4 py-8'>
		<section class='grid gap-8 md:grid-cols-2 lg:grid-cols-3'>
			{
				projects.map(project => (
					<article
						class='bg-gradient-to-br from-gray-800 to-gray-900 rounded-lg p-6 shadow-lg hover:shadow-xl transition-all duration-300 hover:from-gray-700 hover:to-gray-800'
						aria-labelledby={`proyecto-${project.name}`}
						id={`project-${project.name.replace(/\s+/g, '-').toLowerCase()}`}>
						<h3 class='text-lg font-semibold mb-2 md:text-xl'>
							{project.name}
						</h3>
						<p class='text-gray-300 mb-4 text-sm md:text-md lg:text-lg'>
							{project.description}
						</p>
						<span class='space-y-2 text-sm md:text-md'>
							Tecnologías: {project.technologies.join(', ')}
						</span>
						<div class='flex space-x-4 mt-4'>
							{project.demo_url && (
								<a
									href={project.demo_url}
									target='_blank'
									rel='noopener noreferrer'
									class='text-lg hover:text-blue-400 transition-colors flex gap-2 items-center'
									aria-label={`Ver demo del proyecto ${project.name}`}>
									<Icon
										name='mdi:web'
										class='w-7 h-7 md:w-6 md:h-6'
									/>
									<span>Demo</span>
								</a>
							)}
							<a
								href={project.github_url}
								target='_blank'
								rel='noopener noreferrer'
								class='text-lg hover:text-blue-400 transition-colors flex gap-2 items-center'
								aria-label={`Ver código fuente del proyecto ${project.name}`}>
								<Icon
									name='simple-icons:github'
									class='w-7 h-7 md:w-6 md:h-6'
								/>
								<span>GitHub</span>
							</a>
						</div>
					</article>
				))
			}
		</section>
	</main>
</Layout>
