---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import ProjectCard from '../../components/ProjectCard.astro'
import LeftArrow from '../../components/icons/LeftArrow.astro'

const projects = await getCollection('projects')

---

<Layout title='Proyectos de Dionicio Vargas - Portafolio'>
	<header class='p-4'>
		<nav class='flex justify-between items-center prose prose-invert'>
			<a
				href='/'
				class='text-xl hover:text-blue-400 transition-colors flex gap-2 items-center no-underline'
				aria-label='Volver al Inicio'>
				<LeftArrow class='w-8 h-8'/>
				<span>Volver al Inicio</span>
			</a>
			<h1 class='text-2xl font-bold'>Mis Proyectos</h1>
		</nav>
	</header>
	<main class='mx-auto max-w-5xl w-11/12 mt-12 min-h-screen'>
		<section class=''>
			{
				projects.map(project => {
					const { data, slug } = project
					const { name, description, technologies, demo_url, github_url, image } = data

					return (
						<ProjectCard
						name={name}
						description={description}
						technologies={technologies}
						demo_url={demo_url}
						github_url={github_url}
						image={image}
						id={slug}
						className='my-8'/>
					)
				})
			}
		</section>
	</main>
</Layout>
