---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import LeftArrow from "../../components/icons/LeftArrow.astro";

const projects = await getCollection("projects");
---

<Layout title="Proyectos de Dionicio Vargas - Portafolio">
	<main class="mx-auto px-4 py-8 max-w-4xl w-11/12">
		<a
				href="/"
				class="inline-flex no-underline items-center text-blue-400 hover:text-blue-300 mb-6"
			>
				<div class="text-xl mr-2 text-blue-400">
					<LeftArrow class="w-4 h-4 mr-2" />
				</div>
				<span>Volver al Inicio</span>
			</a>
		<h1 class="text-4xl font-bold my-8">Mis Proyectos</h1>
		<section class="">
			{
				projects.map((project) => {
					const { data, slug } = project;
					const {
						name,
						description,
						technologies,
						demo_url,
						github_url,
						image,
					} = data;

					return (
						<ProjectCard
							name={name}
							description={description}
							technologies={technologies}
							demo_url={demo_url}
							github_url={github_url}
							image={image}
							id={slug}
							className="my-8"
						/>
					);
				})
			}
		</section>
	</main>
</Layout>
